*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:#0b5ed7;
    color:white;
    text-align:center;
    padding:20px;
}

nav{
    margin-top:10px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

section{
    width:90%;
    margin:30px auto;
    background:white;
    padding:20px;
    border-radius:8px;
    box-shadow:0 0 8px gray;
}

h2{
    text-align:center;
    margin-bottom:20px;
    color:#0b5ed7;
}

.search{
    text-align:center;
}

.search input{
    width:300px;
    padding:10px;
}

.search button{
    padding:10px 20px;
    background:green;
    color:white;
    border:none;
    cursor:pointer;
}

.hotel-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.hotel-card{
    width:280px;
    border:1px solid #ccc;
    border-radius:8px;
    padding:15px;
    text-align:center;
    background:#fafafa;
}

.hotel-card:hover{
    box-shadow:0 0 10px gray;
}

.hotel-card h3{
    color:#0b5ed7;
}

.hotel-card button{
    margin-top:10px;
    padding:10px 20px;
    background:#0b5ed7;
    color:white;
    border:none;
    cursor:pointer;
}

.features ul{
    margin-left:25px;
    line-height:35px;
}

.contact{
    text-align:center;
}

.contact input,
.contact textarea{
    width:60%;
    padding:10px;
    margin:10px;
}

.contact textarea{
    height:100px;
}

.contact button{
    padding:10px 25px;
    background:green;
    color:white;
    border:none;
}

footer{
    background:#0b5ed7;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}

@media(max-width:768px){

.hotel-container{
    flex-direction:column;
    align-items:center;
}

.hotel-card{
    width:90%;
}

.search input,
.contact input,
.contact textarea{
    width:90%;
}

nav a{
    display:block;
    margin:10px;
}

}